In [92]:
import pandas as pd
import numpy as np

In [93]:
coral = pd.read_csv("global_bleaching_environmental.csv")
coral.replace('nd', np.nan, inplace=True)
np.shape(coral)
coral.dropna(subset=["Percent_Bleaching"],inplace=True)
coral["Percent_Bleaching"]=coral["Percent_Bleaching"].astype(float)
coral.head()

C:\Users\kogra\AppData\Local\Temp\ipykernel_19088\1156495748.py:1: DtypeWarning: Columns (13,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  coral = pd.read_csv("global_bleaching_environmental.csv")

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
0,2501,10324336,Donner,23.163,-82.5260,Atlantic,NaN,Tropical Atlantic,Cuba and Cayman Islands,Cuba,...,5,0,0,0.74,7.25,0.18,2005-09-15,NaN,NaN,NaN
1,3467,10324754,Donner,-17.575,-149.7833,Pacific,NaN,Eastern Indo-Pacific,Society Islands French Polynesia,French Polynesia,...,4,0,0.26,0.67,4.65,0.19,1991-03-15,The bleaching does not appear to have gained ...,The bleaching does not appear to have gained ...,NaN
2,1794,10323866,Donner,18.369,-64.5640,Atlantic,NaN,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United Kingdom,...,7,0,0,1.04,11.66,0.26,2006-01-15,NaN,NaN,NaN
3,8647,10328028,Donner,17.760,-64.5680,Atlantic,NaN,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,4,0,0,0.75,5.64,0.2,2006-04-15,NaN,NaN,NaN
4,8648,10328029,Donner,17.769,-64.5830,Atlantic,NaN,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,5,0,0,0.92,6.89,0.25,2006-04-15,NaN,NaN,NaN

In [94]:
np.shape(coral)

(34515, 62)

In [95]:
useless = ["Data_Source","Sample_Comments","Bleaching_Comments","Site_Comments",\
           "TSA_DHW_Standard_Deviation","Date","TSA_Frequency_Standard_Deviation","TSA_Standard_Deviation",
          "SSTA_DHW_Standard_Deviation","SSTA_Frequency_Standard_Deviation","SSTA_Standard_Deviation",\
           "Temperature_Kelvin_Standard_Deviation","Site_Name","State_Island_Province_Name",
          "Country_Name","Latitude_Degrees","Longitude_Degrees","City_Town_Name","Reef_ID",
          "Sample_ID","Site_ID","Date_Day","Date_Month","Date_Year","SSTA_Mean"]

#SSTA_Mean is all 0 in the dataset

coral.drop(columns=useless, inplace=True)
np.shape(coral)

(34515, 37)

In [96]:
coral.isna().sum()

Ocean_Name                 0
Realm_Name                 0
Ecoregion_Name             3
Distance_to_Shore          2
Exposure                   0
Turbidity                  6
Cyclone_Frequency          0
Depth_m                 1681
Substrate_Name         12047
Percent_Cover          11842
Bleaching_Level        11984
Percent_Bleaching          0
ClimSST                   95
Temperature_Kelvin       122
Temperature_Mean         106
Temperature_Minimum      106
Temperature_Maximum      106
Windspeed                111
SSTA                     122
SSTA_Minimum             142
SSTA_Maximum             106
SSTA_Frequency           122
SSTA_FrequencyMax        106
SSTA_FrequencyMean       106
SSTA_DHW                 122
SSTA_DHWMax              106
SSTA_DHWMean             106
TSA                      122
TSA_Minimum              106
TSA_Maximum              106
TSA_Mean                 106
TSA_Frequency            122
TSA_FrequencyMax         106
TSA_FrequencyMean        106
TSA_DHW                  122
TSA_DHWMax               106
TSA_DHWMean              106
dtype: int64

In [97]:
remove_maybe = ["Substrate_Name","Percent_Cover","Bleaching_Level","Ecoregion_Name","Realm_Name","ClimSST"]
#Ecoregion_Name has 100 unique values and Realm_Name (with 8 unique values) is more precise than Ocean_Name (with 5 unique values)
coral.drop(columns=remove_maybe, inplace=True)

remove_DHW = ["SSTA_DHW","SSTA_DHWMax","SSTA_DHWMean","TSA_DHW","TSA_DHWMax","TSA_DHWMean"]
#Remove DHW for simplicity and perhaps dependence with the frequency variables
coral.drop(columns=remove_DHW, inplace=True)

remove_TSA = ["TSA","TSA_Minimum","TSA_Maximum","TSA_Mean","TSA_Frequency","TSA_FrequencyMax","TSA_FrequencyMean"]
#Remove TSA for simplicity and dependence
coral.drop(columns=remove_TSA, inplace=True)

remove_SSTA_unecessary = ["SSTA_FrequencyMax","SSTA_FrequencyMean","SSTA_Minimum"]
#Remove extra SSTA for simplicity and dependence
#Take out things like SSTA_FrequencyMax and SSTA_FrequencyMean to instead capture only year-long data which might highlight
# The effects of recent climate change more rather than looking at decades-long intervals.
coral.drop(columns=remove_SSTA_unecessary, inplace=True)

np.shape(coral)

(34515, 15)

In [98]:
coral.dropna(inplace=True)

In [99]:
coral.head()

,Ocean_Name,Distance_to_Shore,Exposure,Turbidity,Cyclone_Frequency,Depth_m,Percent_Bleaching,Temperature_Kelvin,Temperature_Mean,Temperature_Minimum,Temperature_Maximum,Windspeed,SSTA,SSTA_Maximum,SSTA_Frequency
0,Atlantic,8519.23,Exposed,0.0287,49.90,10,50.2,302.05,300.67,296.72,304.69,8,-0.46,2.24,0
1,Pacific,1431.62,Exposed,0.0262,51.20,14,50.7,303.30,300.73,297.58,305.01,2,1.29,3.1,0.5
2,Atlantic,182.33,Exposed,0.0429,61.52,7,50.9,299.18,300.32,297.12,304.14,8,0.04,2.83,16
3,Atlantic,313.13,Exposed,0.0424,65.39,9.02,50.9,299.61,300.38,297.25,304.07,3,-0.07,2.47,22
4,Atlantic,792.0,Exposed,0.0424,65.39,12.50,50.9,299.7,300.38,296.63,303.76,3,0,2.3,16

In [100]:
np.shape(coral)

(32714, 15)

In [101]:
coral.nunique()

Ocean_Name                5
Distance_to_Shore      9953
Exposure                  3
Turbidity              2020
Cyclone_Frequency      1299
Depth_m                 468
Percent_Bleaching      2137
Temperature_Kelvin     1170
Temperature_Mean        739
Temperature_Minimum     887
Temperature_Maximum     587
Windspeed                18
SSTA                    621
SSTA_Maximum            505
SSTA_Frequency          372
dtype: int64

In [102]:
coral.to_csv("Clean_Coral_Data.csv", header=True,index=False)

In [104]:
#For models that only account for bleaching-affected corals
coral = coral[coral['Percent_Bleaching'] > 0]
coral.to_csv("Clean_Coral_Data_NoZeros.csv", header=True,index=False)
np.shape(coral)

(16177, 15)

In [107]:
#For models that only account for bleaching-affected corals above 10%
coral = coral[coral['Percent_Bleaching'] >= 10]
coral.to_csv("Clean_Coral_Data_10perc.csv", header=True,index=False)
np.shape(coral)

(6110, 15)